<!DOCTYPE html>
<html>
<head>
	<title>darwin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="js/google.fastbutton.js"></script>
    <script src="js/jquery.google.fastbutton.js"></script>

</head>
    <style>
        body {
        -webkit-user-select: none;
        }
        div#left {
            top:0;
            left:0;
            width:50%;
            height:100%;
            position: absolute;
            background-color:red;
        }
        div#right {
            top:0;
            right:0;
            position:absolute;
            width:50%;
            height:100%;
            background-color:green;
        }
    </style>
<body>
    <div id="left">Left</div>
    <div id="right">Right</div>
    <script type="application/javascript">
        var addr = {{.Url}};
        var id = "{{.Id}}";
        
        var conn = new WebSocket("ws://"+addr+"/wsm");
        
        conn.onopen = function(){
            conn.send(id); 
        };
    
        conn.onclose = function(){
            console.log("closed");
            window.location("/mobile");
            //alert("connection closed");
        }
        
        conn.onmessage = function(event){
            var cmd = JSON.parse(event.data);
            //messages from server
            if(cmd.id === -1){
                var s = window.atob(cmd.v);
            }
            if(cmd.id === 3){
                alert("game over");
            }
        };
        $('#left').fastClick(function(e) {
            console.log("left");
            var cmd = {Id:1,v:window.atob("-1")};
            conn.send(JSON.stringify(cmd));
        });
        $('#right').fastClick(function(e) {
            console.log("right");
            var cmd = {Id:1,v:window.btoa("1")};
            conn.send(JSON.stringify(cmd));
        });
    
        $(window).bind("beforeunload",function(){
            conn.send("Close");
            conn.close();
        });
    </script>
</body>
</html>
