{{define "desktop"}}
<!DOCTYPE>
<html>
	<head>
		<title>Hello World</title>
	</head>
	<body>
		<h1>Hello World</h1>
		<h2>Host: {{.host}}</h2>
		<button id="c">Connect</button>
		<button id="approve">Approve</button>
		<canvas id="display" width="640" height="480" style="background-color:#000;"></canvas>
		<script type="application/javascript" src="js/game.js"></script>
		<script type="application/javascript">
			var button = document.getElementById("c");
			var url = "{{.wshost}}"

			c.onclick =  function(){
				game.connect(url);
			}
		</script>
	</body>
</html>
{{end}}
